name: Node.js CI

on: 
  push:
    branches:
      - equipo4

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
      run: npm install
      run: cd api && npm install
      run: cd front &&  npm install
      run: npm run prettier
    - name: Ejecuto los test del API
      working-directory: ./api
      run: npm run test
    - name: Ejecuto los test del API
      working-directory: ./front
      run: npm run test